// 1-Top, 2-Left, 3-Bottom, 4-Left
@mixin position($positions, $directions...) {
  position: $positions;
  @if length($directions) < 4 {
    @error "directions must be equals to 4. Otherwise use a placeholder";
  } @else {
    top: nth($directions, 1);
    right: nth($directions, 2);
    bottom: nth($directions, 3);
    left: nth($directions, 4);
  }
}
