// ----------------
// Color Variables
// ----------------
// Transparancy: https://css-tricks.com/8-digit-hex-codes/

// - Main
$bg-main-color: #354147;
$text-main-color: #ffff;

// - Light
$white: #ffff;
$honeyBees: #fbd784;

// - Neutral
$grey: #808080;
$veryLightGrey: #c9c9c9;

// - Dark
$cinder: #222d32;
$blackPearl: #1e272b;

// ----------------
// zIndex
// ----------------
$cardNumber: 1;
$cardDescription: 2;
$sidebar: 999;
$backdrop: 999;
