@use '../helpers/variables';
@use '../libs/breakpoints';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  position: relative;
  width: 108px;
  height: 24px;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;

  &__line {
    width: 100%;
    height: 2px;
    background: variables.$white;
  }

  &:hover {
    cursor: pointer;
  }
  @include breakpoints.media(">=tablet", "screen") {
    display: none;
  }
}

.nav {
  display: none;
  @include breakpoints.media(">=tablet", "screen") {
    display: block;

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 2em;
    }

    &__item:last-of-type {
      margin-right: 0;
    }
  }
}

.account {
  &__link {
    @include breakpoints.media(">tablet", "screen") {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 108px; // based to logo's
    }
  }
  &__text {
    display: none;
    @include breakpoints.media(">tablet", "screen") {
      display: block;
    }
  }
  &__svg {
    position: relative;
    width: 30px;
    height: 30px;
  }
}
