@use '../libs/breakpoints';
@use '../helpers/variables';

.layout {
  max-width: 1760px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include breakpoints.media(">=desktop", "screen") {
    padding: 2rem 3rem;
  }
}

.layout-main {
  flex: 1 0 auto;
  background: variables.$bg-layout-main;
}
