@font-face {
  font-family: "Gilroy-Light";
  src: url("/src/fonts/Gilroy-Light.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/src/fonts/Gilroy-ExtraBold.otf") format("truetype");
}
